.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
._形状 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
}
._流程形状 {
}
.horizontal_line {
}
.connector {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.horizontal_line1 {
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
.box_31 {
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
.box_11 {
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
.icon {
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
.vertical_line {
}
.paragraph {
  text-align:left;
}
.icon1 {
}
.flow_shape {
}
.shape1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.horizontal_line2 {
}
