body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2182 {
  position:fixed;
  left:0px;
  top:-1px;
}
#u2182_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20000px;
  height:100px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:20008px;
  height:108px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20000px;
  height:100px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2183 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2183_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:25px;
  width:207px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u2184 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2184_text {
  border-width:0px;
  white-space:nowrap;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:172px;
  width:320px;
  height:567px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2186 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2186_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:681px;
  width:320px;
  height:58px;
  display:flex;
}
#u2187 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2187_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:723px;
  width:22px;
  height:11px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2189 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2189_text {
  border-width:0px;
  white-space:nowrap;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:688px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2190 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2190_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:723px;
  width:22px;
  height:11px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2192 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2192_text {
  border-width:0px;
  white-space:nowrap;
}
#u2193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:688px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2193 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2193_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:723px;
  width:22px;
  height:11px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2195 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2195_text {
  border-width:0px;
  white-space:nowrap;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:688px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2196 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2196_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:723px;
  width:22px;
  height:11px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2198 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2198_text {
  border-width:0px;
  white-space:nowrap;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:688px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2199 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2199_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:632px;
  width:320px;
  height:50px;
  display:flex;
}
#u2200 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2200_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:642px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2201 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2201_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:642px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2202 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2202_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:642px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2203 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2203_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:642px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2204 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2204_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:642px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2205 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2205_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:642px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2206 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2206_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:59px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:680px;
  width:72px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2207 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2207_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:25px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:700px;
  width:30px;
  height:22px;
  display:flex;
}
#u2208 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2208_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:70px;
  height:22px;
}
#u2209p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:64px;
  height:6px;
}
#u2209p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:6px;
}
#u2209p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u2209p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2209p002 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2209p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:708px;
  width:59px;
  height:2px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2209 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2209_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.2);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:688px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2210 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2210_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:688px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2211 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2211_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:723px;
  width:20px;
  height:11px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2212 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2212_text {
  border-width:0px;
  white-space:nowrap;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:688px;
  width:27px;
  height:27px;
  display:flex;
}
#u2214 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2214_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:2px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:701px;
  width:37px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2215 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2215_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:723px;
  width:25px;
  height:11px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2216 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2216_text {
  border-width:0px;
  white-space:nowrap;
}
#u2217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:642px;
  width:24px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2217 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2217_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:172px;
  width:320px;
  height:567px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2218_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:681px;
  width:320px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2219_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:58px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:681px;
  width:170px;
  height:58px;
  display:flex;
  color:#FFFFFF;
}
#u2220 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2220_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:189px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2221_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:725px;
  width:15px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2222 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2222_text {
  border-width:0px;
  white-space:nowrap;
}
#u2223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:725px;
  width:40px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2223 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2223_text {
  border-width:0px;
  white-space:nowrap;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:725px;
  width:29px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2224 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2224_text {
  border-width:0px;
  white-space:nowrap;
}
#u2225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:691px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2225_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:691px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2226 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2226_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:691px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2227_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:278px;
  height:22px;
}
#u2228p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:272px;
  height:6px;
}
#u2228p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:6px;
}
#u2228p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u2228p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2228p002 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2228p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:706px;
  width:267px;
  height:2px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2228 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2228_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.2);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:686px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2229 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2229_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:172px;
  width:320px;
  height:567px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2230 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2230_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:681px;
  width:320px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2231 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2231_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:58px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:681px;
  width:170px;
  height:58px;
  display:flex;
  color:#FFFFFF;
}
#u2232 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2232_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:189px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2233 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2233_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:725px;
  width:15px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2234 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2234_text {
  border-width:0px;
  white-space:nowrap;
}
#u2235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:725px;
  width:40px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2235 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2235_text {
  border-width:0px;
  white-space:nowrap;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:725px;
  width:29px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:rgba(51, 51, 51, 0.709803921568627);
}
#u2236 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2236_text {
  border-width:0px;
  white-space:nowrap;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:691px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2237 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2237_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:691px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2238 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2238_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.490196078431373);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:691px;
  width:33px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2239 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2239_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:139px;
  width:141px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2240 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2240_text {
  border-width:0px;
  white-space:nowrap;
}
#u2241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:139px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2241 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2241_text {
  border-width:0px;
  white-space:nowrap;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:139px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2242 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2242_text {
  border-width:0px;
  white-space:nowrap;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:704px;
  width:16px;
  height:17px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2244 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2244_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:713px;
  width:8px;
  height:6px;
  display:flex;
}
#u2245 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2245_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
