body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1093px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1197 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1197_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20000px;
  height:100px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:20008px;
  height:108px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20000px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1198 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1198_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:25px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u1199 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1199_text {
  border-width:0px;
  white-space:nowrap;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:190px;
  width:320px;
  height:567px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1200 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1200_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:157px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1201 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1201_text {
  border-width:0px;
  white-space:nowrap;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:713px;
  width:123px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1202 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1202_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:713px;
  width:46px;
  height:37px;
  display:flex;
}
#u1203 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1203_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:721px;
  width:21px;
  height:21px;
  display:flex;
  opacity:0;
}
#u1205 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1205_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:723px;
  width:20px;
  height:17px;
  display:flex;
}
#u1206 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1206_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:713px;
  width:117px;
  height:37px;
  display:flex;
  color:#FFFFFF;
}
#u1207 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:213px;
  width:11px;
  height:11px;
  display:flex;
}
#u1209 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1209_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:205px;
  width:5px;
  height:5px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1210_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:208px;
  width:17px;
  height:10px;
  display:flex;
}
#u1211 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1211_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:202px;
  width:23px;
  height:18px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1212_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:200px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1213 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1213_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:190px;
  width:320px;
  height:567px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1214 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1214_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:157px;
  width:37px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1215 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1215_text {
  border-width:0px;
  white-space:nowrap;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:714px;
  width:253px;
  height:37px;
  display:flex;
  color:#FFFFFF;
}
#u1216 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1216_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:570px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1217 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1217_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:570px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1218_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:570px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1219_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:570px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1220 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1220_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:639px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1221_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:639px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1222 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1222_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:639px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1223_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:639px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1224_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(197, 197, 197, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C5C5C5;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:714px;
  width:39px;
  height:37px;
  display:flex;
  color:#C5C5C5;
}
#u1225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1225_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:722px;
  width:20px;
  height:21px;
  display:flex;
}
#u1226 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1226_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:192px;
  width:320px;
  height:567px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1227_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:159px;
  width:105px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1228 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1228_text {
  border-width:0px;
  white-space:nowrap;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:579px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1229 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1229_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:579px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1230 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1230_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:579px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1231 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1231_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:579px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1232 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1232_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:648px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1233 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1233_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:648px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1234 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1234_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:648px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1235 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1235_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:648px;
  width:52px;
  height:51px;
  display:flex;
  color:#FFFFFF;
}
#u1236 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1236_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:710px;
  width:320px;
  height:49px;
  display:flex;
  color:#FFFFFF;
}
#u1237 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1237_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:722px;
  width:26px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1238 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1238_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:722px;
  width:26px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1239 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1239_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:722px;
  width:26px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1240 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1240_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:722px;
  width:26px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1241 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1241_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:722px;
  width:26px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1242 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1242_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:722px;
  width:26px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1243 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1243_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:722px;
  width:25px;
  height:25px;
  display:flex;
}
#u1245 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1245_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:734px;
  width:35px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1246 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1246_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:198px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1247 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1247_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:198px;
  width:9px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1248 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1248_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:204px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1250 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1250_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:204px;
  width:9px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1251 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1251_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:17px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:203px;
  width:19px;
  height:14px;
  display:flex;
}
#u1252 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1252_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:194px;
  height:22px;
}
#u1253p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:192px;
  height:8px;
  -webkit-transform:rotate(-0.409886316097969deg);
  -moz-transform:rotate(-0.409886316097969deg);
  -ms-transform:rotate(-0.409886316097969deg);
  transform:rotate(-0.409886316097969deg);
}
#u1253p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:8px;
}
#u1253p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:4px;
  -webkit-transform:rotate(-0.409886316097969deg);
  -moz-transform:rotate(-0.409886316097969deg);
  -ms-transform:rotate(-0.409886316097969deg);
  transform:rotate(-0.409886316097969deg);
}
#u1253p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1253p002 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:-12px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(-180.409886316098deg);
  -moz-transform:rotate(-180.409886316098deg);
  -ms-transform:rotate(-180.409886316098deg);
  transform:rotate(-180.409886316098deg);
}
#u1253p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:731px;
  width:183px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.409886316097969deg);
  -moz-transform:rotate(0.409886316097969deg);
  -ms-transform:rotate(0.409886316097969deg);
  transform:rotate(0.409886316097969deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1253 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1253_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.2);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:710px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1254 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1254_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:311px;
  height:22px;
}
#u1255p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:6px;
}
#u1255p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:6px;
}
#u1255p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u1255p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1255p002 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1255p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:730px;
  width:300px;
  height:2px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1255 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1255_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.2);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:710px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1256 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1256_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:783px;
  width:33px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1257 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1257_text {
  border-width:0px;
  white-space:nowrap;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:814px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1258 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1258_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:840px;
  width:141px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1259 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1259_text {
  border-width:0px;
  white-space:nowrap;
}
#u1260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:814px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1260 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1260_text {
  border-width:0px;
  white-space:nowrap;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:694px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1261 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1261_text {
  border-width:0px;
  word-wrap:break-word;
}
